Repository cning112/fastflight: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, nox, uv-pip-compile

local-biome-check:
  name: biome check
  entry: npx biome check --apply --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

nox:
  name: Nox
  entry: nox -f backend/noxfile.py --session lint -- fix
  pass_filenames: false
  language: system
  verbose: true

uv-pip-compile:
  name: uv pip-compile test
  description: Automatically compile requirements.
  entry: uv pip compile backend/pyproject.toml --extra test -o backend/test-requirements.txt
  additional_dependencies:
  - uv
  language: python
  pass_filenames: false
  always_run: false

add mui, formily
  frontend/package-lock.json
  frontend/package.json
Due: local-biome-check

move py test files to tests folder
  backend/tests/test_main.py
Due: nox

WIP: add schema form
  frontend/.storybook/preview.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/dev/README.md
  frontend/src/dev/index.ts
  frontend/src/dev/palette.tsx
  frontend/src/dev/previews.tsx
  frontend/src/dev/useInitial.ts
  frontend/src/forms/BespokeForm.stories.tsx
  frontend/src/forms/BespokeForm.tsx
  frontend/src/schema-form/SchemaForm.stories.tsx
  frontend/src/schema-form/SchemaForm.tsx
  frontend/src/schema-form/components/FormItem.tsx
  frontend/src/schema-form/components/Select.tsx
  frontend/src/schema-form/components/Switch.tsx
  frontend/src/schema-form/components/TextField.tsx
  frontend/src/schema-form/components/index.ts
  frontend/src/themes.ts
Due: local-biome-check

add storybook
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/stories/Button.stories.ts
  frontend/src/stories/Button.tsx
  frontend/src/stories/Configure.mdx
  frontend/src/stories/Header.stories.ts
  frontend/src/stories/Header.tsx
  frontend/src/stories/Page.stories.ts
  frontend/src/stories/Page.tsx
  frontend/src/stories/assets/accessibility.png
  frontend/src/stories/assets/accessibility.svg
  frontend/src/stories/assets/addon-library.png
  frontend/src/stories/assets/assets.png
  frontend/src/stories/assets/avif-test-image.avif
  frontend/src/stories/assets/context.png
  frontend/src/stories/assets/discord.svg
  frontend/src/stories/assets/docs.png
  frontend/src/stories/assets/figma-plugin.png
  frontend/src/stories/assets/github.svg
  frontend/src/stories/assets/share.png
  frontend/src/stories/assets/styling.png
  frontend/src/stories/assets/testing.png
  frontend/src/stories/assets/theming.png
  frontend/src/stories/assets/tutorials.svg
  frontend/src/stories/assets/youtube.svg
  frontend/src/stories/button.css
  frontend/src/stories/header.css
  frontend/src/stories/page.css
Due: local-biome-check

added UiForm
  backend/prod-requirements.txt
  backend/pyproject.toml
  backend/requirements.txt
  backend/src/my_fastapi/routers/ui_form.py
  backend/test-requirements.txt
  backend/tests/test_main.py
  backend/tests/test_ui_form.py
Due: nox, uv-pip-compile

first version of form validation
  backend/src/my_fastapi/main.py
  backend/src/my_fastapi/routers/ui_form.py
  backend/tests/test_ui_form.py
Due: nox

refactor ui-form example
  backend/src/my_fastapi/internal/ui_form/__init__.py
  backend/src/my_fastapi/internal/ui_form/form_validator.py
  backend/src/my_fastapi/internal/ui_form/types.py
  backend/src/my_fastapi/routers/ui_form.py
  backend/tests/test_ui_form.py
Due: nox

add scripts in backend and frontend to convert pydantic classes -> json -> zod schema in .ts files. Updated README.md. TODO: add a pre-commit entry to run both scripts on changes of related files
  README.md
  backend/noxfile.py
  backend/schemas/Allocation.json
  backend/schemas/Strategy.json
  backend/schemas/StrategyPerformanceParams.json
  backend/schemas/User.json
  backend/scripts/update_json_schemas.py
  backend/src/my_fastapi/internal/schemas/strategy.py
  backend/src/my_fastapi/internal/schemas/user.py
  backend/src/my_fastapi/internal/ui_form/form_validator.py
  backend/src/my_fastapi/internal/ui_form/types.py
  backend/src/my_fastapi/routers/ui_form.py
  backend/tests/test_ui_form.py
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/convert_to_zod_schema.sh
  frontend/src/schems/Allocation.ts
  frontend/src/schems/Strategy.ts
  frontend/src/schems/StrategyPerformanceParams.ts
  frontend/src/schems/User.ts
Due: local-biome-check, nox

add endpoint to get data from flight server and return it as response
  backend/src/my_fastapi/internal/flight_connection_pool.py
  backend/src/my_fastapi/routers/arrow_flight.py
Due: nox

add enpoint to api; add global exception handler
  backend/src/my_fastapi/main.py
  backend/src/my_fastapi/utils/error_handling.py
Due: nox

add custom logging context
  backend/config/log-config.yaml
  backend/src/my_fastapi/routers/root.py
  backend/src/my_fastapi/utils/custom_logging.py
Due: nox

support two log formats: key_value and json
  backend/config/log-config.yaml
  backend/src/my_fastapi/utils/custom_logging.py
Due: nox

create next.js app
  my-nextjs/.eslintrc.json
  my-nextjs/.gitignore
  my-nextjs/README.md
  my-nextjs/app/favicon.ico
  my-nextjs/app/globals.css
  my-nextjs/app/layout.tsx
  my-nextjs/app/page.tsx
  my-nextjs/next.config.mjs
  my-nextjs/package-lock.json
  my-nextjs/package.json
  my-nextjs/postcss.config.mjs
  my-nextjs/public/next.svg
  my-nextjs/public/vercel.svg
  my-nextjs/tailwind.config.ts
  my-nextjs/tsconfig.json
Due: local-biome-check

add biome
  my-nextjs/biome.json
  my-nextjs/package-lock.json
  my-nextjs/package.json
Due: local-biome-check

add shadcn-ui; use tw- prefix for tailwind
  my-nextjs/app/globals.css
  my-nextjs/components.json
  my-nextjs/package-lock.json
  my-nextjs/package.json
  my-nextjs/tailwind.config.ts
Due: local-biome-check

update logging config
  backend/config/local.env
  backend/config/log-config.yaml
  backend/prod-requirements.txt
  backend/pyproject.toml
  backend/requirements.txt
  backend/src/my_fastapi/__init__.py
  backend/src/my_fastapi/internal/settings.py
  backend/src/my_fastapi/utils/custom_logging.py
  backend/test-requirements.txt
Due: nox, uv-pip-compile

use structlog
  backend/config/local.env
  backend/config/log-config.yaml
  backend/prod-requirements.txt
  backend/pyproject.toml
  backend/requirements.txt
  backend/src/my_fastapi/internal/settings.py
  backend/src/my_fastapi/routers/root.py
  backend/src/my_fastapi/utils/custom_logging.py
  backend/test-requirements.txt
Due: nox, uv-pip-compile

chore: add isort rule to Ruff; update requirements.txt
  backend/prod-requirements.txt
  backend/pyproject.toml
  backend/requirements.txt
  backend/test-requirements.txt
Due: uv-pip-compile

chore: add .idea
  .gitignore
  .idea/.gitignore
  .idea/aws.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/my_fastapi.iml
  .idea/ruff.xml
  .idea/runConfigurations/fastapi_app.xml
  .idea/vcs.xml
  .idea/webResources.xml
Due: none

chore: update deps
  backend/pyproject.toml
  backend/requirements.txt
  backend/test-requirements.txt
Due: uv-pip-compile

replace on_event() with lifespan
  backend/src/my_fastapi/routers/arrow_flight.py
Due: nox

update deps
  backend/prod-requirements.txt
  backend/requirements.txt
  backend/test-requirements.txt
Due: uv-pip-compile

update flight server and fastapi router; added basic flight ticket classes and data services
  backend/prod-requirements.txt
  backend/requirements.txt
  backend/src/my_fastapi/internal/data_server/__init__.py
  backend/src/my_fastapi/internal/data_server/client_helpers.py
  backend/src/my_fastapi/internal/data_server/models/__init__.py
  backend/src/my_fastapi/internal/data_server/models/base_ticket.py
  backend/src/my_fastapi/internal/data_server/models/data_source.py
  backend/src/my_fastapi/internal/data_server/models/tickets.py
  backend/src/my_fastapi/internal/data_server/server/__init__.py
  backend/src/my_fastapi/internal/data_server/server/flight_server.py
  backend/src/my_fastapi/internal/data_server/services/__init__.py
  backend/src/my_fastapi/internal/data_server/services/base_data_service.py
  backend/src/my_fastapi/internal/data_server/services/nosql.py
  backend/src/my_fastapi/internal/data_server/services/sql.py
  backend/src/my_fastapi/internal/flight_connection_pool.py
  backend/src/my_fastapi/main.py
  backend/src/my_fastapi/routers/arrow_flight.py
  backend/src/my_fastapi/routers/data_server.py
  backend/test-requirements.txt
  backend/tests/__init__.py
  backend/tests/test_base_ticket.py
Due: nox, uv-pip-compile

add TODO in data_server.py
  backend/src/my_fastapi/routers/data_server.py
Due: nox

fix client_helpers.py
  backend/src/my_fastapi/internal/data_server/client_helpers.py
Due: nox

fix data server
  backend/pyproject.toml
  backend/src/my_fastapi/internal/data_server/client_helpers.py
  backend/src/my_fastapi/internal/data_server/server/flight_server.py
  backend/src/my_fastapi/internal/data_server/services/base_data_service.py
  backend/src/my_fastapi/internal/data_server/services/sql.py
  backend/src/my_fastapi/routers/data_server.py
Due: nox, uv-pip-compile

fix lifespan and flight server
  backend/src/my_fastapi/internal/data_server/server/flight_server.py
  backend/src/my_fastapi/main.py
  backend/src/my_fastapi/routers/data_server.py
Due: nox

refactor data server/service
  .idea/my_fastapi.iml
  .idea/runConfigurations/client_helpers.xml
  .idea/runConfigurations/flight_server.xml
  README.md
  src/my_fastapi/__init__.py
  src/my_fastapi/internal/data_server/models/base_ticket.py
  src/my_fastapi/internal/data_server/models/tickets.py
  src/my_fastapi/internal/data_service/README.md
  src/my_fastapi/internal/data_service/__init__.py
  src/my_fastapi/internal/data_service/client/__init__.py
  src/my_fastapi/internal/data_service/client/client_helpers.py
  src/my_fastapi/internal/data_service/models/__init__.py
  src/my_fastapi/internal/data_service/models/base_params.py
  src/my_fastapi/internal/data_service/models/data_source.py
  src/my_fastapi/internal/data_service/models/params.py
  src/my_fastapi/internal/data_service/server/__init__.py
  src/my_fastapi/internal/data_service/server/flight_server.py
  src/my_fastapi/internal/data_service/services/__init__.py
  src/my_fastapi/internal/data_service/services/base_data_service.py
  src/my_fastapi/internal/data_service/services/nosql.py
  src/my_fastapi/internal/data_service/services/sql.py
  src/my_fastapi/main.py
  src/my_fastapi/routers/data_service.py
  src/my_fastapi/utils/custom_logging.py
Due: nox

update pre-commit hooks
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
  requirements.txt
Due: nox, uv-pip-compile

update deps
  pyproject.toml
  test-requirements.txt
Due: uv-pip-compile

default log file path and mkdir if non-exists
  src/fastflight/internal/settings.py
  src/fastflight/utils/custom_logging.py
Due: nox

add data service for Csv file
  .idea/runConfigurations/fastapi_app.xml
  src/fastflight/internal/flight_service/models/base_params.py
  src/fastflight/internal/flight_service/models/data_source.py
  src/fastflight/internal/flight_service/models/params.py
  src/fastflight/internal/flight_service/services/csv_file.py
Due: nox

rename data_source.py to data_source_kind.py
  src/fastflight/internal/flight_service/models/base_params.py
  src/fastflight/internal/flight_service/models/data_source_kind.py
  src/fastflight/internal/flight_service/models/params.py
  src/fastflight/internal/flight_service/services/base_data_service.py
  src/fastflight/internal/flight_service/services/csv_file.py
  src/fastflight/internal/flight_service/services/nosql.py
  src/fastflight/internal/flight_service/services/sql.py
Due: nox

refactor to separate the fastflight setup
  demo/__init__.py
  demo/dependencies/__init__.py
  demo/dependencies/settings.py
  demo/internal/__init__.py
  demo/internal/flight_service/__init__.py
  demo/internal/flight_service/models/__init__.py
  demo/internal/flight_service/models/params.py
  demo/internal/flight_service/services/__init__.py
  demo/internal/flight_service/services/csv_file.py
  demo/internal/flight_service/services/nosql.py
  demo/internal/flight_service/services/sql.py
  demo/internal/schemas/__init__.py
  demo/internal/schemas/strategy.py
  demo/internal/schemas/user.py
  demo/internal/settings.py
  demo/internal/ui_form/__init__.py
  demo/internal/ui_form/form_validator.py
  demo/internal/ui_form/types.py
  demo/main.py
  demo/routers/__init__.py
  demo/routers/flight.py
  demo/routers/pd_data.py
  demo/routers/root.py
  demo/routers/ui_form.py
  demo/utils/__init__.py
  demo/utils/custom_logging.py
  demo/utils/error_handling.py
  src/fastflight/README.md
  src/fastflight/client/__init__.py
  src/fastflight/client/client_helpers.py
  src/fastflight/models/__init__.py
  src/fastflight/models/base_params.py
  src/fastflight/models/data_source_kind.py
  src/fastflight/server/__init__.py
  src/fastflight/server/flight_server.py
  src/fastflight/services/__init__.py
  src/fastflight/services/base_data_service.py
Due: nox

remove the BaseDataKind things and use str type directly in the BaseParams and BaseDataService registries
  demo/internal/flight_service/models/data_kinds.py
  demo/internal/flight_service/models/params.py
  demo/internal/flight_service/services/csv_file.py
  demo/internal/flight_service/services/nosql.py
  demo/internal/flight_service/services/sql.py
  demo/main.py
  demo/routers/flight.py
  demo/tests/__init__.py
  demo/tests/test_main.py
  demo/tests/test_params.py
  demo/tests/test_ui_form.py
  src/fastflight/models/__init__.py
  src/fastflight/models/data_source_kind.py
  src/fastflight/services/base_data_service.py
  src/fastflight/services/base_params.py
  src/fastflight/utils/__init__.py
  src/fastflight/utils/client_helpers.py
  src/fastflight/utils/fastapi_utils/__init__.py
  src/fastflight/utils/fastapi_utils/api_route.py
  src/fastflight/utils/fastapi_utils/lifespan.py
  src/fastflight/utils/flight_server.py
  tests/test_base_ticket.py
Due: nox

more refactoring
  .pre-commit-config.yaml
  Dockerfile
  README.md
  demo/Dockerfile
  demo/__init__.py
  demo/config/local.env
  demo/pyproject.toml
  demo/requirements.txt
  demo/test_main.http
  noxfile.py
  prod-requirements.txt
  pyproject.toml
  requirements.txt
  scripts/update_json_schemas.py
  src/fastflight/README.md
  src/fastflight/utils/custom_logging.py
  test-requirements.txt
Due: nox, uv-pip-compile

add github actions
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

clean up
  .pre-commit-config.yaml
  noxfile.py
  prod-requirements.txt
  pyproject.toml
  requirements.txt
  test-requirements.txt
Due: nox, uv-pip-compile

Path conditions:
  local-biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  nox: any of: \.py$
  uv-pip-compile: ((any of: (pyproject\.toml$|prod\-requirements\.txt$)) or (any of: (pyproject\.toml$|requirements\.txt$))) or (any of: (pyproject\.toml$|test-requirements\.txt$))
